.header {
  padding: 16px 50px;
  border-bottom: 1px solid white;
  @media (max-width: 768px) {
    padding: 16px 8px;
  }
  .px-2 {
    padding: 0px 8px;
  }
  .font-20 {
    font-size: 20px;
  }
  .font-bold {
    font-weight: bold;
  }
}
